/*
Author: Clifford Lewis
This file contains css data for the Shop Page.
It is used by shoplist.js for configuring the page.
*/
.shoplist {
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border: 2px solid black;
    width: 800px;
    height: 100px;
}

th {
    border-bottom: 1px solid black;
    background-color: forestgreen;
        color: white;
}

td {
    text-align: center;
    border: 1px solid black;
    }
    
    tfoot {
        border: 1px solid black;
        background-color: forestgreen;
        font-weight: bold;
        color: white;
    }
    
    .button1 {
    
        border: 1px solid black;
        padding: 16px 32px;
    
        display: -ms-grid;
        white-space: nowrap;
        max-width: 200px;
    }
    
    .column {
        width: 25%;
    }
    
    .right {
        width: 25%;
    }
    
    .left {
        width: 25%;
    }
    
    .row {
        width: 800px;
    }
    
    
    .grid-container {
        display: flex;
        gap: 50px 50px;
        margin-right: 20px;
}